<div class="row">
    @Html.Partial("_Way-panel-room")
</div>

<div class="row h-100">
    <div class="col-4 side-columns"></div>
    @Html.Partial("_Way-panel-inviteurl")
    @Html.Partial("_Way-panel-nickname")
    @Html.Partial("_Way-panel-map")
    @Html.Partial("_Way-panel-animation")
    <div class="col-4 side-columns"></div>
</div>
<div class="background-overlay"></div>

<div class="video-content">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="intro.mp4" type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;">
        <p>This is fallback content to display for user agents that do not support the video tag.</p>
    </video>
</div>
